---
webinars:
  -
    title: How to Get Articles Published in Scholarly Journals
    author: Bruce Thyer
    date: 2008-01-30
    asset: 
      - | 
        <a href="%{base_url}20080130_publishing_articles/bruce_thyer_transcripts.pdf">Transcript</a>
      - | 
        <a href="%{base_url}20080130_publishing_articles/jan08_conference_call_bthyer.mp3">Audio</a>
      - | 
        <a href="%{base_url}20080130_publishing_articles/publishing_articles_bthyer.pdf">Slides</a>
  -
    title: "Parenting Styles: Discussing Abstinence"
    author: Eva Kasten
    date: 2008-02-28
    asset: 
      - | 
        <a href="%{base_url}20080228_discussing_abstinence/eva_kasten_transcripts.final.pdf">Transcript</a>
      - | 
        <a href="%{base_url}20080228_discussing_abstinence/audio_recording_feb08_net_conf.mp3">Audio</a>
  -
    title: "Skills for Parenting Teens"
    author: Jody Scanlon
    date: 2009-03-05
    asset: 
      - | 
        <a href="%{base_url}20090305_skills_for_parenting_teens/march_5_net_conference_transcript.pdf">Transcript</a>
      - | 
        <a href="%{base_url}20090305_skills_for_parenting_teens/march_5_net_conference_recording.mp3">Audio</a>
      - |
        <a href="%{base_url}20090305_skills_for_parenting_teens/scanlon_power_point.pdf">Slides</a>
  -
    title: "Engage Your Community: 3 Essential Keys"
    author: Andrew Robinson
    date: 2009-03-26
    asset: 
      - | 
        <a href="%{base_url}20090326_engaging_your_community/transcription_3.26.09.pdf">Transcript</a>
      - | 
        <a href="%{base_url}20090326_engaging_your_community/mp3_robinson_3.26.09.mp3">Audio</a>
      - |
        <a href="%{base_url}20090326_engaging_your_community/slides_(4_to_a_page).pdf">Slides</a>
  -
    title: "Reducing Unhealthy Behaviors in Adolescents"
    author: Deborah Chilcoat
    date: 2009-04-23
    asset: 
      - | 
        <a href="%{base_url}20090423_reducing_unhealthy_behaviors/transcript_4.23.09.pdf">Transcript</a>
      - | 
        <a href="%{base_url}20090423_reducing_unhealthy_behaviors/recording_4.23.09.mp3">Audio</a>
      - |
        <a href="%{base_url}20090423_reducing_unhealthy_behaviors/reducing_unhealthy_behaviors_in_adolescents.pdf">Slides</a>
  -
    title: "Goal Setting Strategies: Helping Teens Define and Meet Their Life Goals"
    author: Anjali Nandi 
    date: 2011-02-16
    asset: 
      - | 
        <a href="%{base_url}20110216_teen_goal_setting_strategies/goalsettingstrategies_2.16.11.pdf">Slides</a>
  -
    title: "Teen Parent Relationships: What Makes Them 'Sink or Swim?'"
    author: Dr. Mary Jo Podgurski
    date: 2011-03-16
    asset: 
      - | 
        <a href="%{base_url}20110316_teen_parent_relationships/healthyrelationships_transcript_031611.pdf">Transcript</a>
      - | 
        <a href="%{base_url}20110316_teen_parent_relationships/teen_parent_relationships_webinarrecording_031611.mp3">Audio</a>
      - |
        <a href="%{base_url}20110316_teen_parent_relationships/podgurski_webinar_3_16_11_revised1.pdf">Slides</a>
  -
    title: "Challenges and Solutions for Program Attrition"
    author: Dr. Barri Burrus (Moderator)
    date: 2011-04-20
    asset: 
      - | 
        <a href="%{base_url}20110420_challenges_and_solutions_for_program_attrition/programattrition_transcript_042011.pdf">Transcript</a>
      - | 
        <a href="%{base_url}20110420_challenges_and_solutions_for_program_attrition/programattrition_recording_042011.wmv">Audio (Windows Media)</a>
      - |
        <a href="%{base_url}20110420_challenges_and_solutions_for_program_attrition/attrition_retention_webinar_presentations.pdf">Slides</a>
  -
    title: "Postpartum Depression Among Teen Mothers"
    author: Jan Lewis
    date: 2012-03-20
    asset: 
      - | 
        <a href="%{base_url}20120320_adolescent_mental_health_post_partum_depression/ppdwebinar_transcript.pdf">Transcript</a>
      - | 
        <a href="%{base_url}20120320_adolescent_mental_health_post_partum_depression/ppd_webinar_032012.wav">Audio</a>
      - |
        <a href="%{base_url}20120320_adolescent_mental_health_post_partum_depression/postpartumdepressionamongteenmothers.pdf">Slides</a>
  -
    title: "Overview of the AFL Research Database"
    author: Sandhya Joshi and Christina Lachance
    date: 2012-04-12
    asset: 
      - | 
        <a href="%{base_url}20120424_literature_review_database/afl_lit_database_webinar_transcript.pdf">Transcript</a>
      - | 
        <a href="%{base_url}20120424_literature_review_database/afl_lit_review_database_webinar.mp3">Audio</a>
      - |
        <a href="%{base_url}20120424_literature_review_database/litreviewdatabase_webinar_4.24.12.pdf">Slides</a>
  -
    title: "Bonding and Attachment: Teen Parents and Their Infants"
    author: Nick Wechsler
    date: 2012-06-05
    asset: 
      - | 
        <a href="%{base_url}20120605_bonding_and_attachment/infant_bonding_webinar_transcript.doc">Transcript (MS-Word)</a>
      - |
        <a href="%{base_url}20120605_bonding_and_attachment/presentation_with_white_board.pdf">Slides</a>
---

<% 
  base_url = "http://ta-archives.s3-website-us-east-1.amazonaws.com/assets/" 
%>

    <ul>
      <li><a href="#symposia">Symposia</a></li>
      <li><a href="#webinars">Webinars</a></li>
    </ul>

    <h2 id="symposia" name="symposia">Symposia</h2>
    <p>
      <strong><a href="what_works/index.html">Promoting What Works: A Symposium of Approaches for Supporting Pregnant and Parenting Adolescents</a></></strong>
      <br />  
      This day-long symposium led a dialogue with experts on what works in caring for pregnant and parenting adolescents and building strong young families. This event was held in Washington, D.C. on May 18, 2011 and was presented by the Office of Population Affairs, Office of Adolescent Pregnancy Programs in collaboration with other federal and national partners. 
    </p>

    <h2 id="webinars" name="webinars">Webinars</h2>

    <% current_page.data.webinars.each do |webinar| %>
      <p>
        <strong><%= webinar.date.strftime("%B %d, %Y") %> -- <%= webinar.title %> (<%= webinar.author %>)</strong>
        <br />
        <% webinar.asset.each do |item| %>     
          <% item.gsub!('%{base_url}', base_url) %>
          <%= item.strip %><%= "," if item != webinar.asset.last %>
        <% end %>
      </p>

  <% end %>

  <p class="backtotop"><a href="#">Back to top</a></p>

