
        <div class="hgroup">
          <h1 class="tk-proxima-nova"><%= data.site.title %></h1>
        </div>

        <div class="entry-content">

        <!-- 
        BELOW is dojo4-provided content; ABOVE is Trilogy template content
        -->

        <%= stylesheet_link_tag 'site' %>

        <% base_url = "http://ta-archives.s3-website-us-east-1.amazonaws.com/assets/promoting_what_works_symposium/" %>

<h2>Promoting What Works: A Symposium of Approaches for Supporting Pregnant and Parenting Adolescents</h2>

The day-long symposium led a dialogue with experts on what works in caring for pregnant and parenting adolescents and building strong young families. This event was held in Washington, D.C. on May 18, 2011 and was presented by the Office of Population Affairs, Office of Adolescent Pregnancy Programs in collaboration with other federal and national partners.

The presentations are listed below, accompanied by the slides from each session. You'll need the free Abobe Acrobat Reader program to view the PDF files on your computer and the free Adobe Flash Player to view the videos.

'Promoting What Works' Agenda

'Promoting What Works' Program
Welcome

Wanda K. Jones, Dr.P.H.
Principal Deputy Assistant Secretary for Health, U.S. Department of Health and Human Services (HHS)

Alicia Richmond Scott, M.S.W.
Director, Office of Adolescent Pregnancy Programs Office of Population Affairs

Reesa Webb, M.S. (Symposium Moderator)
Project Director, JSI Research & Training Institute, Inc.

Welcome (slides)
Welcoming remarks from the Office of the Assistant Secretary for Health, Office of Population Affairs, and Office of Adolescent Pregnancy Programs.

Speaker bios

Video Transcript | Video 

<a class="player" title="Play Video" href="<%= base_url %>videos/segment_1-1280x720.flv"><img src="/images/play.jpg" alt="Play Video"/></a>

Back to top
State of the Field: Adolescent Pregnancy Programming

Claire Brindis, Dr.P.H., M.P.H.
Director, Philip R. Lee Institute for Health Policy Studies; Executive Director, National Adolescent Health Information and Innovation Center University of California San Francisco

Taking a Pulse: State of the State - Adolescent Pregnancy and Parenting Field (slides)
Understanding the current research focused on pregnant and parenting teens provides a platform for developing new and innovative programs as well as replicating effective interventions. This session will provide a broad examination of the growing field of adolescent pregnancy research and how this research advances programs and services for pregnant and parenting adolescents.

Speaker bio

Video Transcript | Video

<a class="player" title="Play Video" href="<%= base_url %>videos/segment_2-1280x720.flv"><img src="/images/play.jpg" alt="Play Video"/></a>

Back to top
Research to Practice: Applied Research Approaches for Pregnant and Parenting Adolescents

Lee Beers, M.D.
Goldberg Center for Community Pediatric Health Children’s National Medical Center

Paul Florsheim, Ph.D.
Associate Professor and Chair School of Public Health University of Wisconsin Milwaukee

Trina Anglin, M.D., Ph.D. (Moderator)
Chief, Adolescent Health Branch Maternal and Child Health Bureau, Health Resources and Services Administration

Joseph Telfair, Dr.P.H. M.S.W./M.P.H. (Response panelist)
Professor, University of North Carolina at Greensboro

Sarah Avellar, Ph.D. (Response panelist)
Senior Researcher, Mathematica Policy Research

Kristine Andrews, Ph.D. (Response panelist)
Research Scientist, Child Trends

Healthy Outcomes for Adolescent Mothers and their Children - Beers (slides)
Healthy Relationships and Engagement with Adolescent Fathers - Florsheim (slides)
In transitioning from research to practice, this two-part panel discussion will explore examples of effective and promising approaches across four key domains of adolescent pregnancy programming. The domains that will be discussed during this hour include:
• Healthy birth outcomes for pregnant mothers and babies
• Healthy relationships and engagement with adolescent fathers

Speaker bios

Video Transcript | Video

<a class="player" title="Play Video" href="<%= base_url %>videos/segment_3-1280x720.flv"><img src="/images/play.jpg" alt="Play Video"/></a>

Back to top
Research to Practice: Applied Research Approaches for Pregnant and Parenting Adolescents

Beth Barnet, M.D.
Professor of Family and Community Medicine; Director of Research and Community Programs, University of Maryland

Janice Key, M.D.
Director, Division of Adolescent Medicine and Professor, Department of Pediatrics, Medical, University of South Carolina

Trina Anglin, M.D., Ph.D. (Moderator)
Chief, Adolescent Health Branch Maternal and Child Health Bureau, Health Resources and Services Administration

Joseph Telfair, Dr.P.H. M.S.W./M.P.H. (Response panelist)
Professor, University of North Carolina at Greensboro

Sarah Avellar, Ph.D. (Response panelist)
Senior Researcher, Mathematica Policy Research

Kristine Andrews, Ph.D. (Response panelist)
Research Scientist, Child Trends

What Works to Reduce Rapid Repeat Births in Adolescent Mothers - Barnet (slides)
Education and Employment Attainment of Teen Mothers - Key (slides)
The panel discussion regarding effective and promising approaches continues and will focus on the following two domains of adolescent pregnancy programming:
• Successful educational and employment attainment
• Prevention of unintended repeat pregnancy

Speaker bios

Video Transcript | Video

<a class="player" title="Play Video" href="<%= base_url %>videos/segment_4-1280x720.flv"><img src="/images/play.jpg" alt="Play Video"/></a>

Back to top
Help or Hindrance: Promoting Effective Policy

Pat Paluzzi, Dr.P.H.
President and CEO, Healthy Teen Network

Help or Hindrance: Promoting Effective Policy (slides)
Young families need access to the same types of supports that all youth and families need for positive development, yet they often need them in more intensity, for longer duration, and targeted to the developmental stage of the young parent. This lunch time presentation will feature a policy analysis, along with selected video vignettes, that will speak to the needs and gaps for young families in regard to resources and services across several "life domains" including education, employment, and life skills development.

Speaker bio

Video Transcript | Video

<a class="player" title="Play Video" href="<%= base_url %>videos/segment_5-1280x720.flv"><img src="/images/play.jpg" alt="Play Video"/></a>

Back to top
Emerging and Promising Approaches: What does implementation really look like?

Bernadette Strode, M.A.
Principal, Polly T. McCabe Center

Joanne Cox, M.D.
Associate Chief, Division of General Pediatrics, Children's Hospital Boston; Medical Director, Young Parents Program Children's Hospital Boston

Pam Plummer, B.S.W.
Director of Prevention Services, Centers for Youth and Families

Melissa Maguire, M.S.
Director, Youth Shelter Network, The Night Ministry

Keneca Boyce, Ph.D., L.M.S.W.
Senior Director of Program Development and Quality Assurance, Inwood House

Marc Clark, Ph.D. (Moderator)
Administration for Children, Youth and Families

Mission - “Educated Mothers! Healthy Babies!” - Strode (slides)
The Young Parents Program: Project Connect - Cox (slides)
Implementing a Statewide Home Visitation Program for Teen Parents - Plummer (slides)
Response- Ability- Pregnant and Parenting Program Promising Practices - Maguire (slides)
Emerging and Promising Approaches: What does implementation really look like? - Boyce (slides)
Successful implementation of key program components is pivotal in determining program effectiveness. This session will present implementation strategies and discuss various approaches for adolescent pregnancy and parenting programming in diverse populations and settings. Presenters will discuss common challenges and solutions.

Speaker bios

Video Transcript | Video Part 1 | Video Part 2

<a class="player" title="Play Video (First Half)" href="<%= base_url %>videos/segment_6-1280x720-1.flv"><img src="/images/play.jpg" alt="Play Video"/></a>

<a class="player" title="Play Video (Second Half)" href="<%= base_url %>videos/segment_6-1280x720-2.flv"><img src="/images/play.jpg" alt="Play Video"/></a>

Back to top
Where are the gaps, challenges and opportunities for action?

Lara Kaufmann, J.D.
Senior Counsel for Education and Employment, National Women's Law Center

Darlene Shearer, M.P.H., Dr.P.H.
MPH Program Director, Department of Public Health, Western Kentucky University

Deborah Koniak-Griffin, R.N.C., Ed.D., F.A.A.N.
Professor and Audrienne H. Moseley Endowed Chair, Women's Health Research; Director, Center for Vulnerable Populations Research, University of California Los Angeles (UCLA) School of Nursing

Diana Tyson, Ph.D. (Moderator)
Office of the Assistant Secretary for Planning and Evaluation, Department of Health and Human Services

Evelyn Kappeler (Response panelist)
Acting Director, Office of Adolescent Health

Jeannette Pai-Espinosa, M.S. (Response panelist)
President, National Crittenton Foundation

Marline Pearson, M.A. (Response panelist)
The Dibble Institute

Promoting What Works: Approaches for Supporting Pregnant and Parenting Adolescents - Kaufman (slides)
Gaps, Challenges and Opportunities for Action in Programming - Shearer (slides)
Gaps, Challenges, and Opportunities for Action: Research Perspective - Koniak-Griffin (slides)
Pregnant and parenting teens are one of the most vulnerable populations in need of extensive support in order for their families to be healthy and successful. This session will address the gaps, challenges, and opportunities for action that exist for future adolescent pregnancy and parenting programs, policies, and research.

Speaker bios

Video Transcript | Video

<a class="player" title="Play Video" href="<%= base_url %>videos/segment_7-1280x720.flv"><img src="/images/play.jpg" alt="Play Video"/></a>

Back to top
Next Steps and Closing Thoughts

Alicia Richmond Scott, M.S.W.
Director, Office of Adolescent Pregnancy Programs Office of Population Affairs

Next Steps and Closing Thoughts (slides)
The field of caring for pregnant and parenting adolescents is vast, and a variety of approaches have shown promise. It takes the collective community to continue identifying new innovative ways to ameliorate the numerous and ever-changing challenges young families face. Therefore, this closing session will involve a facilitated discussion with the audience to identify ways to overcome the enormous challenges that are faced by pregnant and parenting adolescents.

Speaker bio

Video Transcript | Video

<a class="player" title="Play Video" href="<%= base_url %>videos/segment_8-1280x720.flv"><img src="/images/play.jpg" alt="Play Video"/></a>

Back to top

<%= javascript_include_tag 'flowplayer/flowplayer-3.2.11.min.js', 'application.js' %>

        <!-- 
        ABOVE is dojo4-provided content; BELOW is Trilogy template content
        -->

        </div><!-- eo .entry-content -->

