---
segments:
  -
    title: Welcome
    description: Welcoming remarks from the Office of the Assistant Secretary for Health, Office of Population Affairs, and Office of Adolescent Pregnancy Programs.
    speaker_bios_url: docs/welcome_speaker_bios.pdf
    program: 
      - | 
        <strong>Wanda K. Jones</strong>, Dr.P.H.<br />
        Principal Deputy Assistant Secretary for Health, U.S. Department of Health and Human Services (HHS)<br />
        <a href="%{base_url}docs/welcome_arichmondscott.pdf">Welcome</a> (slides)
      - |
        <strong>Alicia Richmond Scott</strong>, M.S.W.<br />
        Director, Office of Adolescent Pregnancy Programs, Office of Population Affairs
      - |
        <strong>Reesa Webb</strong>, M.S. (Symposium Moderator)<br />
        Project Director, JSI Research &amp; Training Institute, Inc.
    videos:
      - 
        video_url: videos/segment_1-1280x720.flv
        transcript_url: docs/welcome_transcript.pdf

  -
    title: "State of the Field: Adolescent Pregnancy Programming"
    description: "Understanding the current research focused on pregnant and parenting teens provides a platform for developing new and innovative programs as well as replicating effective interventions. This session will provide a broad examination of the growing field of adolescent pregnancy research and how this research advances programs and services for pregnant and parenting adolescents."
    speaker_bios_url: docs/state_of_field_speaker_bio.pdf
    program:
      - |
        <strong>Claire Brindis</strong>, Dr.P.H., M.P.H.<br />
        Director, Philip R. Lee Institute for Health Policy Studies; Executive Director, National Adolescent Health Information and Innovation Center University of California San Francisco<br />
        <a href="%{base_url}docs/state_of_field_cbrindis.pdf">Taking a Pulse: State of the State - Adolescent Pregnancy and Parenting Field</a> (slides)
    videos:
      -
        video_url: videos/segment_2-1280x720.flv
        transcript_url: docs/state_of_field_transcript.txt 

  -
    title: "Research to Practice: Applied Research Approaches for Pregnant and Parenting Adolescents"
    description: "In transitioning from research to practice, this two-part panel discussion will explore examples of effective and promising approaches across four key domains of adolescent pregnancy programming. The domains that will be discussed during this hour include <strong>healthy birth outcomes for pregnant mothers and babies</strong> and <strong>healthy relationships and engagement with adolescent fathers.</strong>"
    speaker_bios_url: docs/research_speaker_bios.pdf
    program:
      - |
        <strong>Lee Beers</strong>, M.D.<br />
        Goldberg Center for Community Pediatric Health Children&rsquo;s National Medical Center<br />
        <a href="%{base_url}docs/research_lbeers.pdf">Healthy Outcomes for Adolescent Mothers and their Children - Beers</a> (slides)
      - |
        <strong>Paul Florsheim</strong>, Ph.D.<br />
        Associate Professor and Chair School of Public Health University of Wisconsin Milwaukee<br />
        <a href="%{base_url}docs/research_pflorsheim.pdf">Healthy Relationships and Engagement with Adolescent Fathers - Florsheim</a> (slides)
      - |
        <strong>Trina Anglin</strong>, M.D., Ph.D. (Moderator)<br />
        Chief, Adolescent Health Branch Maternal and Child Health Bureau, Health Resources and Services Administration 
      - |
        <strong>Joseph Telfair</strong>, Dr.P.H. M.S.W./M.P.H. (Response panelist)<br /> 
        Professor, University of North Carolina at Greensboro
      - |
        <strong>Sarah Avellar</strong>, Ph.D. (Response panelist)<br />
        Senior Researcher, Mathematica Policy Research
      - |
        <strong>Kristine Andrews</strong>, Ph.D. (Response panelist)<br />
        Research Scientist, Child Trends
    videos:
      -
        video_url: videos/segment_3-1280x720.flv
        transcript_url: docs/research1_transcript.txt 

  -
    title: "Research to Practice: Applied Research Approaches for Pregnant and Parenting Adolescents"
    description: "The panel discussion regarding effective and promising approaches continues and will focus on the following two domains of adolescent pregnancy programming: <strong>successful educational and employment attainment</strong> and <strong>prevention of unintended repeat pregnancy</strong>"
    speaker_bios_url: docs/research_speaker_bios.pdf
    program:
      - |
        <strong>Beth Barnet</strong>, M.D.<br /> 
        Professor of Family and Community Medicine; Director of Research and Community Programs, University of Maryland<br />
        <a href="%{base_url}docs/research_bbarnet.pdf">What Works to Reduce Rapid Repeat Births in Adolescent Mothers - Barnet</a> (slides)
      - |
        <strong>Janice Key</strong>, M.D.<br />
        Director, Division of Adolescent Medicine and Professor, Department of Pediatrics, Medical, University of South Carolina<br />
        <a href="%{base_url}docs/research_jkey.pdf">Education and Employment Attainment of Teen Mothers - Key</a> (slides)
      - |
        <strong>Trina Anglin</strong>, M.D., Ph.D. (Moderator)<br />
        Chief, Adolescent Health Branch Maternal and Child Health Bureau, Health Resources and Services Administration 
      - |
        <strong>Joseph Telfair</strong>, Dr.P.H. M.S.W./M.P.H. (Response panelist)<br /> 
        Professor, University of North Carolina at Greensboro
      - |
        <strong>Sarah Avellar</strong>, Ph.D. (Response panelist)<br />
        Senior Researcher, Mathematica Policy Research
      - |
        <strong>Kristine Andrews</strong>, Ph.D. (Response panelist)<br />
        Research Scientist, Child Trends
    videos:
      -
        video_url: videos/segment_4-1280x720.flv
        transcript_url: docs/research2_transcript.txt 

  -
    title: "Help or Hindrance: Promoting Effective Policy"
    description: "Young families need access to the same types of supports that all youth and families need for positive development, yet they often need them in more intensity, for longer duration, and targeted to the developmental stage of the young parent. This lunch time presentation will feature a policy analysis, along with selected video vignettes, that will speak to the needs and gaps for young families in regard to resources and services across several &ldquo;life domains&rdquo; including education, employment, and life skills development."
    speaker_bios_url: docs/promoting_speaker_bio.pdf
    program:
      - |
        <strong>Pat Paluzzi</strong>, Dr.P.H.<br />
        President and CEO, Healthy Teen Network<br />
        <a href="%{base_url}docs/promoting_effective_policy_ppaluzzi.pdf">Help or Hindrance: Promoting Effective Policy</a> (slides)
    videos:
      -
        video_url: videos/segment_5-1280x720.flv
        transcript_url: docs/promoting_transcript.txt
  -
    title: "Emerging and Promising Approaches: What does implementation really look like?"
    description: "Successful implementation of key program components is pivotal in determining program effectiveness. This session will present implementation strategies and discuss various approaches for adolescent pregnancy and parenting programming in diverse populations and settings. Presenters will discuss common challenges and solutions."
    speaker_bios_url: docs/emerging_speaker_bios.pdf
    program:
      - |
        <strong>Bernadette Strode</strong>, M.A.<br />
        Principal, Polly T. McCabe Center<br />
        <a href="%{base_url}docs/emerging_bstrode.pdf">Mission - &ldquo;Educated Mothers! Healthy Babies!&rdquo; - Strode</a> (slides)
      - |
        <strong>Joanne Cox</strong>, M.D.<br />
        Associate Chief, Division of General Pediatrics, Children's Hospital Boston; Medical Director, Young Parents Program Children's Hospital Boston<br />
        <a href="%{base_url}docs/emerging_jcox.pdf">The Young Parents Program: Project Connect - Cox</a> (slides)
      - |
        <strong>Pam Plummer</strong>, B.S.W.<br />
        Director of Prevention Services, Centers for Youth and Families<br />
        <a href="%{base_url}docs/emerging_pplummer.pdf">Implementing a Statewide Home Visitation Program for Teen Parents - Plummer</a>
      - |
        <strong>Melissa Maguire</strong>, M.S.<br />
        Director, Youth Shelter Network, The Night Ministry<br />
        <a href="%{base_url}docs/emerging_mmaguire.pdf">Response- Ability- Pregnant and Parenting Program Promising Practices - Maguire</a>
      - |
        <strong>Keneca Boyce</strong>, Ph.D., L.M.S.W.<br />
        Senior Director of Program Development and Quality Assurance, Inwood House<br />
        <a href="%{base_url}docs/emerging_kboyce.pdf">Emerging and Promising Approaches: What does implementation really look like? - Boyce</a>
      - |
        <strong>Marc Clark</strong>, Ph.D. (Moderator)<br />
        Administration for Children, Youth and Families
    videos:
      -
        video_url: videos/segment_6-1280x720-1.flv
        transcript_url: docs/emerging_transcript.txt
      -
        video_url: videos/segment_6-1280x720-2.flv
        transcript_url: docs/emerging_transcript.txt
  -
    title: "Where are the gaps, challenges and opportunities for action?"
    description: "Pregnant and parenting teens are one of the most vulnerable populations in need of extensive support in order for their families to be healthy and successful. This session will address the gaps, challenges, and opportunities for action that exist for future adolescent pregnancy and parenting programs, policies, and research."
    speaker_bios_url: docs/gaps_speaker_bios.pdf
    program:
      - |
        <strong>Lara Kaufmann</strong>, J.D.<br />
        Senior Counsel for Education and Employment, National Women's Law Center<br />
        <a href="%{base_url}docs/gaps_lkaufmann.pdf">Promoting What Works: Approaches for Supporting Pregnant and Parenting Adolescents - Kaufman</a> (slides)
      - |
        <strong>Darlene Shearer</strong>, M.P.H., Dr.P.H.<br />
        MPH Program Director, Department of Public Health, Western Kentucky University<br />
        <a href="%{base_url}docs/gaps_dshearer.pdf">Gaps, Challenges and Opportunities for Action in Programming - Shearer</a> (slides)
      - |
        <strong>Deborah Koniak-Griffin</strong>, R.N.C., Ed.D., F.A.A.N.<br />
        Professor and Audrienne H. Moseley Endowed Chair, Women's Health Research; Director, Center for Vulnerable Populations Research, University of California Los Angeles (UCLA) School of Nursing<br />
        <a href="%{base_url}docs/gaps_dkoniak-griffin.pdf">Gaps, Challenges, and Opportunities for Action: Research Perspective - Koniak-Griffin</a> (slides)
      - |
        <strong>Diana Tyson</strong>, Ph.D. (Moderator)<br />
        Office of the Assistant Secretary for Planning and Evaluation, Department of Health and Human Services
      - |
        <strong>Evelyn Kappeler</strong> (Response panelist)<br />
        Acting Director, Office of Adolescent Health
      - |
        <strong>Jeannette Pai-Espinosa</strong>, M.S. (Response panelist)<br />
        President, National Crittenton Foundation
      - |
        <strong>Marline Pearson</strong>, M.A. (Response panelist)<br />
        The Dibble Institute
    videos:
      -
        video_url: videos/segment_7-1280x720.flv
        transcript_url: docs/gaps_transcript.txt

  -
    title: "Next Steps and Closing Thoughts"
    description: "The field of caring for pregnant and parenting adolescents is vast, and a variety of approaches have shown promise. It takes the collective community to continue identifying new innovative ways to ameliorate the numerous and ever-changing challenges young families face. Therefore, this closing session will involve a facilitated discussion with the audience to identify ways to overcome the enormous challenges that are faced by pregnant and parenting adolescents."
    speaker_bios_url: docs/closing_speaker_bios.pdf
    program:
      - |
        <strong>Alicia Richmond Scott</strong>, M.S.W.<br />
        Director, Office of Adolescent Pregnancy Programs Office of Population Affairs<br />
        <a href="docs/closing_arichmondscott.pdf">Next Steps and Closing Thoughts</a> (slides)
    videos:
      -
        video_url: videos/segment_8-1280x720.flv
        transcript_url: docs/closing_transcript.txt
---

<% 
  base_url = "http://ta-archives.s3-website-us-east-1.amazonaws.com/assets/promoting_what_works_symposium/" 
%>


    <article class="row-fluid">

      <h2>Promoting What Works: A Symposium of Approaches for Supporting Pregnant and Parenting Adolescents</h2>

      <p>The day-long symposium led a dialogue with experts on what works in caring for pregnant and parenting adolescents and building strong young families. This event was held in Washington, D.C. on May 18, 2011 and was presented by the Office of Population Affairs, Office of Adolescent Pregnancy Programs in collaboration with other federal and national partners.</p>

      <p class="offsite">The presentations are listed below, accompanied by the slides from each session. You'll need the free <a href="http://get.adobe.com/reader/" target="_blank" title="Go to download Adobe Reader. Link takes you away from this website.">Abobe Acrobat Reader</a> program to view the pdf files on your computer and the free <a href="http://www.adobe.com/support/flashplayer/downloads.html" target="_blank"title="Go to download Adobe Flash Player. Link takes you away from this website.">Adobe Flash Player</a> to view the videos.</p>

      <ul>
      <li><a href="<%= base_url %>docs/pww_agenda.pdf">'Promoting What Works' Agenda</a></li>
      <li><a href="<%= base_url %>docs/pww_program.pdf">'Promoting What Works' Program</a></li>
      </ul>
    </article>
    
    <% current_page.data.segments.each do |segment| %>

      <article class="segment row-fluid">
        <h3><%= segment.title %></h3>

        <div class="segment-text span7">

          <p><%= segment.description %></p>

          <ul class="program">
            <% segment.program.each do |item| %>     
              <% item.gsub!('%{base_url}', base_url) %>
              <li>
                <%= item %>
              </li>
            <% end %>
          </ul><!-- eo .program -->

          <a class="bios" href="<%= base_url + segment.speaker_bios_url %>">Speaker Bios</a>

        </div><!-- eo .segment-text -->

        <div class="segment-video span4">
          <% segment.videos.each do |video| %>
            <a class="player" title="Play Video" href="<%= base_url + video.video_url %>"><img src="/images/play.jpg" alt="Play Video"/></a>
            <a href="<%= base_url + video.transcript_url %>">Video Transcript</a>
          <% end %>
        </div><!-- eo .segment-video -->

      </article><!-- eo .segment -->

      <p class="backtotop"><a href="#">Back to top</a></p>
    <% end %>

      

